<div class="body-container">
    <main class="container flex-grow-1">
        <div class="row align-items-center justify-content-center g-5 py-5 hero-section">

            <div class="col-lg-6 col-md-12">
                <div class="hero-visuals">
                    <img src="assets/airplaneClouds.svg" alt="Airplane with clouds" class="airplane-img">
                </div>
            </div>

            <div class="col-lg-6 col-md-12 text-center text-lg-start">
                <h1 class="display-5 fw-bold lh-1 mb-3">YOUR <span>METAR</span> AND <br><span>UTILITIES MANAGER</span></h1>
                <p class="lead mb-4">Find out the weather conditions at your origin, destination or alternate aerodrome.</p>
                <a [routerLink]="'/view-metar'" type="button" class="btn btn-lg px-4" id="start-button">
                    Start Metar <i class="fa-solid fa-arrow-right ms-2"></i>
                </a>
            </div>

        </div>
    </main>

    <aside class="controls-sidebar">
        <img src="assets/triangles.svg" alt="Triangles" class="triangles-icons">
    </aside>
</div>