.btn-rounded {
    border-radius: 10px;
}

.container {
    color: white;
    text-align: center;
}

.btn-new {
    background-color: #4D5200;
    border-color: #E7DE79;
}

.rounded-circle {
    border-radius: 2px;
}

.btn-tools {
    border-radius: 10px;
}

.modal-bg{
    background-color: #121212;
    color: white;

    input{
        background-color: #222222;
        color: white;
    }
}

table{
    background-color: #222222;
    border-radius: 10px;
}